
/* CSS files add styling rules to your content */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d2f7f6;
  text-align: center;
  font-family: "Noto Sans JP";
  position: relative;
}

#landing{
  width: 100vw;
  height: 100vh;
  overflow:hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

#landing h2{
  margin-bottom: 20px;
}

#landing-text{
  max-width: 1000px;
  margin-bottom: 30px;
}

h1 {
  color: #ffffff;
  font-size: clamp(30px, 15vw, 110px);
  font-weight: 900;
  padding-bottom:3vh;
  
}

.top-title {
  margin: 0;
}
h2 {
  font-weight: 700;
  font-size: 5vh;
  position: relative;
}

h3 {
  font-weight: 500;
  font-size: 3.5vh;
  padding-left: 1%;
  padding-top:.1%;
  color: #ffffff;
  text-align: left;
}
p {
  font-size: 3vh;
  font-weight: 400;
  
}

.selectionButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
}

.selectionButton div{
  margin: 10px;
}
.solo-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 8vh;
  
}
li{
  margin:5vh;
}
.button {
  cursor: pointer;
  border-radius: 5px;
  padding: 0 30px;
  height: 8vh;
  margin: 10px;
  background: #ffabcf;
  box-shadow: 0px 7px #ff85b9;
  font-size: 2.5vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.bg-images{
  max-width: 100vw;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  bottom: 0;
}


.duo-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

#neutral-animal {
  width: 20%;
  position: absolute;
  right: 0;
  top: 50%;
}

#score-animal{
  width: 35%;
  /* position: absolute;
  top: 17%;
  left: 31%; */
    
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5vh;
  width: 50vw;
  min-width: 400px;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f4b7a;
  box-shadow: 1vw 2vh #4268a6;
  position: relative;
  
  
}

.score-container h2{
  color: #ffffff;
}

#your-score{
  
  color: #ffffff;
}

#score{
  
  color: #ffffff;
  font-size: 8vh;
  font-weight: 900;
  margin-left:-13%;

}

.pic-facts {
  position: relative;
  display: flex;
  flex-direction: row;
}

.fact-box{
  border-radius: 5vh;
  width: 50vw;
  height: 70vh;
  margin-left: 43%;
  margin-right: 5%;
  margin-top: 1%;
  
  background: #ffabcf;
  box-shadow: 1vh 2vh #ff85b9;
  position: relative;
}
#home-animal {
  position: absolute;
  width: 40%;
  left: 0;
  top:-6%;
}

.menu {
  height: 10vh;
  background-color: #2f4b7a;
  border-radius: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.menu-button{
  cursor: pointer;
  color: #ffffff;
  margin: 0;
  padding: 2vw;
  font-size: 5vh;
  font-weight: 700;
}

#name {
  margin-right: auto;

}

.animate__animated.animate__backInDown {
  --animate-duration: 2s;
}

#animal-name{
  margin-top: 2vh;
  margin-left: 35vw;
}

#source-text {
  position: absolute;
  right:5%;
  bottom:0;
}

.questionnaire-q {
  font-weight: 500;
}

.q-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5vh;
  width: 50vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  background: #ffabcf;
  box-shadow: 1vh 2vh #ff85b9;
  position: relative;
  
}

#date{
  margin-bottom:5vh;
  
}

.game {
  margin: 2em;
  background-color: #2f4b7a;
}

.birdtext {
  border-radius: 5vh;
  width: 90%;
  height: 33vh;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 2%;
  padding:1%;
  padding-bottom:2%;
  
  background: #ffabcf;
  box-shadow: 1vh 2vh #ff85b9;
  position: relative;
}

#citation {
  position: absolute;
  bottom:-10%;
  right:0;
}